h1 {
	font-family: Impact, Charcoal, sans-serif;
}

body {
	background-color: #7fccc2;
	margin-right: 15%;
	margin-left: 15%;
	display: inline;
}

.left {
	float: left;
	width: 75%;
	text-align: center;
}

.right {
	float: right;
}

.profileImg {
	float: right;
	height: 200px;
	width: 200px;
}

.content {
	position: relative;
	margin: 30px;
	overflow: auto;
	background-color: #fbf1d0;
	padding: 20px;
}

.subtitle {
	font-style: italic;
}

.title {
	line-height: 10px;
}

.titleNoBkgrnd {
	line-height: 10px;
	margin: 30px;
}

.subsection {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	margin: 30px;
	overflow: auto;
	background-color: #fbf1d0;
	padding: 10px;
	line-height: 10px;
}

.subheader {
	font-weight: bold;
}

.description {
	margin-top: 5px;
    line-height: 20px;
    font-style: italic;
}

.details {
	margin-top: 10px;
    margin-bottom: 10px;
    line-height: 20px;
}

.media {
	padding: 20px;
}

.paragraph {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
}

.longList {
	padding-top: 10px;
	padding-bottom: 10px;
}

.skillsTitle {
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

.dateRange {
	font-style: normal;
}

.backButton {
	 width: 75px;
	 height: 75px;
	 border: 0;
}

.tinyLink {
	height: 25px;
	width: 25px;
}